@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.poppins-font {
  font-family: "Poppins", sans-serif;
}

.inter-font {
  font-family: "Inter", sans-serif;
}

.roboto-font {
  font-family: "Roboto", sans-serif;
}

.manrope-font {
  font-family: "Manrope", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

/* nav section start */

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 87px 120px 50px;
}

header nav .menu, header nav .mew{
    display: none;
}

header nav h2{
    font-size: 24px;
    font-weight: bold;
    color: #3A3A3A;
}

header nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap:34px;
}

header nav ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;
}

/* nav section finished */

@media screen and (max-width:576px){
    header{
        width: 100%;
    }

    header nav{
        margin: 35px 16px 0;
    }

    header nav .menu, header nav .mew{
        display: block;
        color: #3A3A3A;
        /* flex-shrink: 0; */
    }

    header nav h2{
        font-size: 16px;
    }

    header nav ul{
        display: none;
    }
}