@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.poppins-font {
  font-family: "Poppins", sans-serif;
}

.inter-font {
  font-family: "Inter", sans-serif;
}

.roboto-font {
  font-family: "Roboto", sans-serif;
}

.manrope-font {
  font-family: "Manrope", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

/* nav section start */

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 87px 120px 50px;
}

header nav .menu, header nav .mew{
    display: none;
}

header nav h2{
    font-size: 24px;
    font-weight: bold;
    color: #3A3A3A;
}

header nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap:34px;
}

header nav ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;
}

/* nav section finished */

/* banner section start */

header #banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 132px 69px 120px;
}

header #banner .bnr-txt-div{
    width: 582px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

header #banner .bnr-txt-div h1{
    font-size: 52px;
    line-height: 70px;
    font-weight: bold;
    color: #3A3A3A;
}

header #banner .bnr-txt-div p{
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;
}

header #banner .bnr-txt-div button{
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #E02C6D;
    border-radius: 41px;
    border-style: none;
    padding: 15px 24px;
    cursor: pointer;
}

header #banner .bnr-img-div{
    background-image: url(../images/Circle\ design.svg);
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 475px;
    height: 475px;
}

/* banner section end */
/* header section end */

/* main section start */
/* advertise section start */
 
main #adverstise{
    display: flex;
    justify-content: center;
    gap: 61px;
    align-items: center;
    /* box-shadow: 0 0 1px #02010152;
    padding: 30px 0; */
}

/* adverstise sectin end */

/* collection section start */

    main #collection{
        margin:100px 196px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:30px;
        /* border: 1px solid salmon; */
    }

    main #collection h3{
        font-size: 28px;
        line-height: 70px;
        font-weight: 600;
        color: #3A3A3A;
    }

    main #collection .card-section{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 30px;
        justify-items: center;
        align-items: center;
        /* border: 1px solid red; */
    }

    main #collection .card-section .card{
        padding: 17px 15px;
        border-radius: 5px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.137);
    }

    main #collection .card-section .card img{
        border-radius: 5px;
    }

    main #collection .card-section .card h4{
        color: #18191F;
        font-size: 28px;
        line-height: 40px;
        font-weight: 500;
        margin: 16px 0px 6px;
    }

    main #collection .card-section .card h5{
        font-size: 24px;
        line-height: 150%;
        font-weight: 400;
        margin-bottom: 10px;
        color: rgba(0, 0, 0, 0.87);
    }

    main #collection .card-section .card h6{
        font-size: 16px;
        line-height: 22px;
        font-weight: bold;
        color: #5E6366;
    }

    main #collection .card-section .card .fa-star,
    main #collection .card-section .card .fa-star-half-stroke{
        color: orange;
        font-size: 12px;
    }

    main #collection .card-section .card p{
        font-size: 16px;
        line-height: 150%;
        color: #787885;
        font-weight: bold;
    }

    main #collection .see-more{
        display: flex;
        justify-content: flex-end;
        width: 1050px;
    }

    main #collection .see-more .arrow{
        color: #E02C6D;
        font-size: 16px;
        font-weight: bold;
        text-align: right;
        margin-top: 10px;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

/* collection section end */

/* join now section start */

main #join-now{
    margin: 100px 165px 0;
}

main #join-now .container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 96px;
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}

main #join-now .container .jn-txt-div h1{
    font-size: 38px;
    line-height: 60px;
    font-weight: bold;
    color: #0A0826;
    margin-bottom: 16px;
}

main #join-now .container .jn-txt-div p{
font-size: 16px;
line-height: 28px;
font-weight: bold;
color: #6C6C6C;
margin-bottom: 16px;
max-width: 501px;
}

main #join-now .container .jn-txt-div button{
    padding: 12px 24px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background-color: #E02C6D;
}
/* join now section end */






@media screen and (max-width:576px){
    
    /* header section start */

    header{
        width: 100%;
    }
    
    /* nav section start */

    header nav{
        margin: 35px 16px 0;
    }

    header nav .menu, header nav .mew{
        display: block;
        color: #3A3A3A;
        /* flex-shrink: 0; */
    }

    header nav h2{
        font-size: 16px;
    }

    header nav ul{
        display: none;
    }

    /* nav section end */

    /* banner section start */

    header #banner{
        flex-direction: column-reverse;
        justify-content: center;
        gap: 20px;
        margin: 20px 15px;
    }

    header #banner .bnr-img-div{
        width: 90%;
        /* border: #E02C6D 1px solid; */
    }

    header #banner .bnr-img-div img{
        width: 85%;
        height: auto;
    }

    header #banner .bnr-txt-div{
        align-items: center;
        justify-content: center;
        min-width: 257px;
        width: 100%;
        text-align: center;
        /* border: 1px salmon solid; */
    }

    header #banner .bnr-txt-div h1{
        font-size: 28px;
        line-height: 40px;
        width: 100%;
    }

    header #banner .bnr-txt-div p{
        font-size: 14px;
        font-weight: 500;
    }

    /* banner section end */
    /* header seciton end */

    /* main section start */
    /* advertise section start */

    main #adverstise{
        flex-wrap: wrap;
        gap:30px;
        width: 90%;
        margin: 50px auto 0;
    }

    main #adverstise img{
        width: 18%;
    }

    /* advertise section end */

    /* collection section start */

    main #collection{
        margin:60px 50px 0;
        gap: 30px;
        }

      main #collection h3{
        font-size: 18px;
        text-align: center;
        line-height: 0px;
    }

    main #collection .card-section{
        grid-template-columns: repeat(1,1fr);
        gap: 15px;
    }

    main #collection .card-section .card h4{
        font-weight: 700;
    }

    main #collection .card-section .card h5{
        font-weight: 700;
    }

    main #collection .card-section .card p{
        font-weight: 400;
        margin-bottom: 10px;
    }

    main #collection .see-more{
        flex-direction: column;
        max-width: 345px;
    }

    main #collection .see-more .arrow{
        font-weight: 600;
        font-size: 14px;
        margin-top: 0px;
    }

    /* collection section end */

    /* join now section start */

    main #join-now{
        margin: 30px 2px;
    }

    main #join-now .container{
        flex-direction: column-reverse;
        min-width: 350px;
        gap: 30px;
        /* margin: 2px; */
    }

    main #join-now .container .jn-txt-div{
        padding: 15px;
        text-align: center;
    }

    main #join-now .container .jn-txt-div h1{
        font-size: 24px;
        line-height: 35px;
    }

    main #join-now .container .jn-img-div{
        width: 90%;
    }

    main #join-now .container .jn-img-div img{
        width: 100%;
    }

    /* join now section end */
}